.container
	= form_tag v1_member_path(params[:id]), id: "sign_up"  do
		.field
			label First Name
			= text_field_tag :first_name,"",class:"form-control"
		.field
			label Last Name
			= text_field_tag :last_name,"", class: "form-control"
		.field
		.field
			label User Name
			= text_field_tag :user_name,"", class: "form-control"
			label Password
			- if @minimum_password_length
			  em 6 characters minimum
			=password_field_tag :password,'',class: "form-control"
		.field
			label Password Confirmation
			=password_field_tag :password_confirmation,'', autocomplete: "off",class: "form-control"
		.action
		=submit_tag  "Update",id: "submit",class: "btn btn-secondary"


javascript:
	$.ajax({
		url: "#{edit_v1_member_path(params[:id])}",
		type: 'GET',
		dataType: 'JSON',
	})
	.done(function(data) {
		if (data.error){
			alert(data.error)
			window.location.href = '/'
		}
		else{
		member = data.member
		$('#first_name').val(member.first_name)
		$('#last_name').val(member.last_name)
		$('#user_name').val(member.user_name)
			
		}
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
		console.log("complete");
	});
	$("#submit").click(function(event) {
		event.preventDefault()
		$.ajax({
			url: "#{v1_member_path(params[:id])}",
			type: 'PATCH',
			dataType: 'JSON',
			data: $('#sign_up').serialize(),
		})
		.done(function(data) {
			if (data.errors){
				alert(data.errors)

			}
			else
				alert("success")
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
	})
