.container
	table class="table"
		thead
			tr
				th Firstname
				th Lastname
				th Email
				th Gender 
				th Edit
				th Delete
		tbody
javascript:
	function destroy(a){
		$.ajax({
			url: '#{v1_members_path}'+'/'+$(a).attr('data-id'),
			type: 'delete',
			dataType: 'JSON',
		})
		.done(function(data) {
			if (data.errors)
				alert(data.errors)
			else
				$(a).closest('tr').remove()
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	}
	$(document).ready(function() {
		$.ajax({
			url: '#{v1_members_path}',
			type: 'GET',
			dataType: 'JSON',
		})
		.done(function(data) {
			console.log(data)
			show_member(data)
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	});
	function show_member(data){
		members  = data.members
		for (var i = 0; i < members.length; i++) {
			tr = document.createElement('tr')
			for(var key in members[i]){
				if (key == "slug" || key =="photos")
					continue
				td = document.createElement('td')
				$(td).text(members[i][key])
				$(tr).append(td)
			}
			td = document.createElement('td')
			a = document.createElement('a')
			$(a).attr('href','/members/'+members[i].slug+"/edit")
			$(a).text("Edit")
			$(td).append(a)
			$(tr).append(td)
			td = document.createElement('td')
			a = document.createElement('a')
			$(a).attr('href', '#')
			$(a).attr('onclick', "destroy($(this))")
			$(a).addClass('delete')
			$(a).attr('data-id', members[i].slug)
			$(a).text("Delete")
			$(td).append(a)
			$(tr).append(td)
			$('tbody').append(tr)
		}
	}
